<!DOCTYPE html>
<html lang="en"> 
    <head>
    {% extends parent.html %}
    {% block content %}
        <meta charset="utf-8">
        <title>My first page on the Internet</title>
        <link rel ="stylesheet" href ="style.css">
    {% endblock %}
    </head>
    <body>
        <header class="splash">
            <div class="splash-inner">
                <div class="container">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <h1 class="page-title">Hello! My name is Olga!</h1>
                    <h1 class="page-title"> Surname Tkachuk!</h1>
                    <img src="https://uploads.kodilla.com/bootcamp/py/08/code.jpg" alt="Laptop screen with code" title="Code">  
                </div>
            </div>
        </header>
        <section class="about">
            <div class="container">
                <h2 class="section-title"> let's get to know each other</h2>
                <p>email:...</p>
                <p>telд:... </p>
                <br>Send a message...</p>
            </div>
        </section>
        <footer class="page-footer">
             <div class="container">
                <p>I hope you enjoyed it. </p>
            </div>
        </footer>
    </body>
</html>
